@import '../../styles/variables.scss';

.customer-container{
    padding: 2% 10%;
}
.title{
    font-size: $h4-font-size;
}
.customer-reviews{
    justify-content: center;
    .review-container{
        flex: 1 1 0;
    }
    img{
        height: 18rem;
    }
}

@media (max-width: 56rem) {
    .customer-reviews{
        flex-wrap: wrap;
        .review-container{
            flex: 1 1 12rem;
        }
    }
}

@media (max-width: 49rem) {
    .customer-reviews > :nth-child(3){
        flex: 0 0 50%;
    }
}

@media (max-width: 34rem) {
    .customer-reviews{
        .review-container{
            flex: 0 0 100%;
        }
    }
}