@import '../../styles/variables.scss';

.customer-container{
    padding: 2% 10%;
}
.title{
    font-size: $h4-font-size;
}
.customer-reviews{
    justify-content: center;
    .review-container{
        flex: 1 1 auto;
    }
}

@media only screen and (max-width: 900px) {
    .customer-reviews{
        flex-wrap: wrap;
        .review-container{
            flex: 1 1 12rem;
        }
    }
}

@media only screen and (max-width: 780px) {
    .customer-reviews > :nth-child(3){
        flex: 0 0 50%;
    }
}

@media only screen and (max-width:531px) {
    .customer-reviews{
        flex: 0 0 100%;
    }
}