@import '../../styles/variables.scss';

.products-container{
    padding: 5% 10% ;
    .title{
        display: flex;
        justify-content: center;
        font-size: $h4-font-size;
        font-weight: 700;
        gap: 0.375rem;
        margin-bottom: 1.5rem;
        span{
            color: $pink;
        }
    }
    .product-detail-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1.5rem;
        .product{
            img{
                width: 100%;
                height: auto;
                transition: all 0.15s ease;
                border-radius: 0.125rem;
            }
            .product-text{
                margin-top: .35rem;
                .price{
                    font-weight: 500;
                    display: flex;
                    gap: 0.15rem;
                  .price-linethrough{
                        text-decoration: line-through;
                    }
                }
                i{
                    color: #FF8C00;
                }
            }
            & > img:hover{
                transform: scale(0.9);
            }
        }
    }
}