/* Font-size */
$h1-font-size: 32px !default;
$h2-font-size: 30px !default;
$h3-font-size: 26px !default;
$h4-font-size: 22px !default;
$h5-font-size: 18px !default;
$h6-font-size: 16px !default;
$default-font-size: 14px !default;
$h7-font-size: 12px !default;

/* Font-weight */
$font-light: 300 !default;
$font-semi-bold: 600 !default; // Never change this whatsoever
$font-semi-bold-500: 500 !default;
$font-bold: 700 !default;
$default-font-weight: 400 !default;

//color
$red: red;
$default-color: #363636;